ACCESS_LOG=/tmp/access.log
APP_DATABASE=routes
APP_FILE_FOLDER_HOST=./config/files
APP_LOGGING_HOST=/tmp/logs
APP_LOGGING_PATH=/tmp/logs
APP_NAME=runningroutes
APP_VER=latest
COMPOSE_FILE="docker-compose.yml;docker-compose.dev.yml"
DB_INIT_DIR=./app/src/app-initdb.d
FLASK_APP_FILE_FOLDER=/tmp/files
MYSQL_VER=8.0.40
PYTHON_VER=3.12
VAR_LOG_HOST=/var/log
