{# authorize.jinja2 has practically an empty page, just shown to unauthorized user
#}

{% extends "layout.jinja2" %}
{% block pagename %}
    {{ pagename }}
{% endblock %}
{% block css %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block body %}
{% endblock %}