{% extends "layout.jinja2" %}
{% block pagename %}
    {{ pagename }}
{% endblock pagename %}
{% block css %}
{% endblock css %}

{% block scripts %}
{% endblock scripts %}

{% block prescripts %}
    <script>
    // TODO: how should these be constructed? Should they be on each page? #46
    var rrrouteurl = '/route/{{ route_id }}',
        rrturnsurl = '/turns/{{ route_id }}';
    </script>
{% endblock %}


{% block body %}
    <p>To show your current location click ALLOW if prompted for permission. You may need to reload the page.</p>

    <div id="path-title">{{ title }}</div>
    <div class="descr-block">
        <span id="path-descr" style="float: left;">
            {{ elevation_gain }}ft elev gain
            {% if description %}<p>{{ description }}</p>{% endif %}
        </span>
        <span id="turns-link" style="float: right;"><a href="{{ turns_link }}">turns</a></span>
    </div>
    <div style="clear: both;"></div>

    <div id="progress-bar"><div class="progress-label">Loading...</div></div>
    <div id='runningroutes-route-map'></div>
    <div id='runningroutes-route-elev'></div>
{% endblock %}