{% extends "datatables.jinja2" %}

{% block scripts %}
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key={{ config['GMAPS_API_KEY'] }}"></script>
    <script>
    // set up map overlay
    var overlay,
        mapwidth,
        mapheight;
    SVGOverlay.prototype = new google.maps.OverlayView();
    </script>
    {{ super() }}
{% endblock %}

{% block body %}
    <span id='rr-table-page' hidden></span>
    {{ super() }}
{% endblock %}
