{% extends "layout.jinja2" %}

{% block pagename %}
    {{ pagename }}
{% endblock pagename %}

{% block prescripts %}
    <script>
    var runningroutesurl = '{{ url_for('frontend.routes', interest='<interest>') }}' + '/rest';
    // TODO: how should these be constructed? Should they be on each page?
    var rrrouteurl = '/route',
        rrturnsurl = '/turns';
    </script>
{% endblock %}

{% block body %}
    <div class='external-filter filter-container'>
        <div class='filter-item'>
            <span class='label'>Distance (miles)</span>
            <span id='external-filter-distance' class='filter'></span>
        </div>

        <div class='filter-item'>
            <span class='label'>Surface</span>
            <span id='external-filter-surface' class='filter'></span>
        </div>
    </div>
    <div class='external-filter' style='display: none;'>
        <span id='external-filter-bounds-lat' class='filter'></span>
        <span id='external-filter-bounds-lng' class='filter'></span>
    </div>

    <div id='runningroutes-map'></div>

    <table id="runningroutes-table" style="width:100%">
        <thead>
            <tr>
                <th>loc</th>
                <th>name</th>
                <th>miles</th>
                <th>surf</th>
                <th>elev gain</th>
                <th></th>
                <th>lat</th>
                <th>lng</th>
                <th>id</th>
            </tr>
        </thead>
    </table>

    {% if 'user_id' in session %}
        <a href='{{ url_for('admin.home') }}'>Admin</a>
    {% else %}
        <a href='{{ url_for('security.login') }}'>Admin</a>
    {% endif %}
{% endblock %}
