{% extends "frontend_layout.jinja2" %}
{% block pagename %}
    {{ pagename }}
{% endblock pagename %}
{% block css %}
{% endblock css %}

{% block scripts %}
<script>
  var servicesqueryurl = "{{ servicesqueryurl }}";
</script>
{% endblock scripts %}
{% block body %}

    <div id="primary" class="content-area">
        <main id="main" class="site-main runningroutes-main" role="main">

            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.1/jquery.dataTables.yadcf.css"/>
            <link rel="stylesheet" type="text/css" href="/wp-content/themes/steeps/js/runningroutes/runningroutes.css?v=<?= $cssmtime ?>"/>

            <div class='external-filter filter-container'>
                <div class='filter-item'>
                    <span class='label'>Distance (miles)</span>
                    <span id='external-filter-distance' class='filter'></span>
                </div>

                <div class='filter-item'>
                    <span class='label'>Surface</span>
                    <span id='external-filter-surface' class='filter'></span>
                </div>
            </div>
            <div class='external-filter' style='display: none;'>
                <span id='external-filter-bounds-lat' class='filter'></span>
                <span id='external-filter-bounds-lng' class='filter'></span>
            </div>

            <div id='runningroutes-map'></div>

            <table id="runningroutes-table">
                <thead>
                    <tr>
                        <th>loc</th>
                        <th>name</th>
                        <th>miles</th>
                        <th>surf</th>
                        <th>elev gain</th>
                        <th></th>
                        <th>lat</th>
                        <th>lng</th>
                        <th>id</th>
                    </tr>
                </thead>
            </table>

            <a href={{ url_for('admin') }}>Admin</a>

            <script src="https://maps.google.com/maps/api/js?key={{ config['GMAPS_API_KEY'] }}"></script>

        </main><!-- #main -->
    </div><!-- #primary -->

{% endblock body %}
