<!doctype html>
<html>
<head>
    <title>Turns</title>

    <script>
    // TODO: how should these be constructed? Should they be on each page? #46
    var rrrouteurl = '/route/{{ route_id }}',
        rrturnsurl = '/turns/{{ route_id }}';
    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% if assets_css %}
  {% assets assets_css %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
  {% endassets %}
{# backwards compatibility #}
{% else %}
    {% assets "admin_css" %}
      <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endif %}
{# backwards compatibility #}
{% for css in pagecssfiles %}
  <link rel=stylesheet type=text/css href="{{ css }}">
{% endfor %}

<script>var _productname = "{{ _productname_text|safe }}";</script>
{% if assets_js %}
    {% assets assets_js %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{# backwards compatibility #}
{% else %}
    {% assets "admin_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endif %}
{# backwards compatibility #}
{% for js in pagejsfiles %}
  <script type="text/javascript" src="{{ js }}"></script>
{% endfor %}

</head>
<body>

<body>
    <div id="turn-title">{{ title }}</div>

    {# icons from https://materialdesignicons.com/ #}
    <div class="descr-block">
        <span id="turn-widgets" style="float:left;">
            <svg id=turn-bulleted-widget style="width:24px;height:24px;cursor:pointer;" viewBox="0 0 24 24" onclick="togglebullets()">
                <g>
                    <title>toggle bullets</title>
                    <path fill="#000000" d="M7,5H21V7H7V5M7,13V11H21V13H7M4,4.5A1.5,1.5 0 0,1 5.5,6A1.5,1.5 0 0,1 4,7.5A1.5,1.5 0 0,1 2.5,6A1.5,1.5 0 0,1 4,4.5M4,10.5A1.5,1.5 0 0,1 5.5,12A1.5,1.5 0 0,1 4,13.5A1.5,1.5 0 0,1 2.5,12A1.5,1.5 0 0,1 4,10.5M7,19V17H21V19H7M4,16.5A1.5,1.5 0 0,1 5.5,18A1.5,1.5 0 0,1 4,19.5A1.5,1.5 0 0,1 2.5,18A1.5,1.5 0 0,1 4,16.5Z" />
                </g>
            </svg>

            <svg id=turn-highlight-widget style="width:24px;height:24px;cursor:pointer;" viewBox="0 0 24 24" onclick="togglehighlighted()">
                <g>
                    <title>toggle highlighting</title>
                    <path fill="#000000" d="M3,3H21V5H3V3M7,7H17V9H7V7M3,11H21V13H3V11M7,15H17V17H7V15M3,19H21V21H3V19Z" />
                </g>
            </svg>

            <svg id=turn-grid-widget style="width:24px;height:24px;cursor:pointer;" viewBox="0 0 24 24" onclick="togglegrid()">
                <g>
                    <title>set grid</title>
                    <path fill="#000000" d="M10,4V8H14V4H10M16,4V8H20V4H16M16,10V14H20V10H16M16,16V20H20V16H16M14,20V16H10V20H14M8,20V16H4V20H8M8,14V10H4V14H8M8,8V4H4V8H8M10,14H14V10H10V14M4,2H20A2,2 0 0,1 22,4V20A2,2 0 0,1 20,22H4C2.92,22 2,21.1 2,20V4A2,2 0 0,1 4,2Z" />
                </g>
            </svg>

            <div id="grid-dialog"></div>
        </span>
        <span id="route-link" style="float: right;">
            <a href="https://www.google.com/maps/search/?api=1&query={{ startloc }}" target=_blank>start</a> 
            <a href="{{ route_link }}">route</a>
            <a href="{{ gpx_link }}">download</a>
        </span>
</span>
    </div>
    <div style="clear: both;"></div>


    <div id="progress-bar"><div class="progress-label">Loading...</div></div>
    <div id="turn-table"></div>

</body>