<!doctype html>
<head>
  <title>{{pagename|striptags}}</title>
  {% block head %}
  {% endblock head %}
</head>
<body>
{% set urlparts = request.url.split('/') %}
{% set hostname = urlparts[2] %}

<div class=heading>
  <h1>{{_productname|safe}}
  {% if hostname[0:9] == "127.0.0.1" or hostname[0:9] == "localhost" or hostname[0:13] == "dev.localhost" %} (development){% endif %}
  {% if hostname[0:8] == "sandbox." %} (sandbox){% endif %}
  </h1>
  <div class=pagename>{{ pagename }}</div>

  {% block metanav %}
  {% endblock %}
</div>
<hr>

<div class=wrapper>
  <div class=body>
    {% if error %}<p class=error><strong>Error: {{ error }}</strong></p>{% endif %}
    {% for message in get_flashed_messages() %}
      <div class=flash><p>{{ message }}</p></div>
    {% endfor %}
    {% block body %}
    {% endblock %}
    <a href="{{ url_for('security.login') }}">Admin login</a>
    {% if addfooter %}
      <div class="Footer">
        <div>
          <a href="{{url_for('terms') }}">Terms of Service</a>
          <a href="{{url_for('feedback')}}?next={{request.url}}">Questions/Feedback</a>
        </div>
        <span>&copy; 2019 loutilities (Lou King).   All rights reserved.</span>
      </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{# font for branding, see branding.css #}
<link href="https://fonts.googleapis.com/css?family=Kanit:800&display=swap" rel="stylesheet">
{% assets "frontend_css" %}
  <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% if pageassets_css %}
  {% assets pageassets_css %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
  {% endassets %}
{% endif %}
{% for css in pagecssfiles %}
  <link rel=stylesheet type=text/css href="{{ css }}">
{% endfor %}
<style>
  {% if hostname[0:9] == "127.0.0.1"  or hostname[0:9] == "localhost" or hostname[0:13] == "dev.localhost" %}
    html {background: antiquewhite;}
  {% endif %}
  {% if hostname[0:8] == "sandbox." %}
    html {background: lightcyan;}
  {% endif %}
</style>
{% block css %}
{% endblock %}

<script>var _productname = "{{ _productname_text|safe }}";</script>
{% assets "frontend_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% if pageassets_js %}
  {% assets pageassets_js %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endif %}
{% for js in pagejsfiles %}
  <script type="text/javascript" src="{{ js }}"></script>
{% endfor %}
{% block scripts %}
{% endblock %}
</body>
</html>