{% extends "frontend_layout.jinja2" %}
{% block pagename %}
    {{ pagename }}
{% endblock pagename %}
{% block css %}
{% endblock css %}

{% block scripts %}
{% endblock scripts %}

{% block metanav %}
    <div class=metanav>
      {% if session.user_email %}
        {{ session.user_email }}
      {% endif %}

      <select id="metanav-select-interest">
          {# set in runningroutes.__init__ #}
          {% for interest in user_interests %}
              <option value="{{ interest.interest }}">{{ interest.description }}</option>
          {% endfor %}
      </select>
      {# used by layout.js, needs to be urlencoded else may look like tag #}
      <span id="metanav-url-rule" hidden>{{ request.url_rule | urlencode }}</span>
      {% if url_rule %}
        <span id="metanav-url-rule-filtered" hidden>{{ url_rule }}</span>
      {% else %}
        {# for some reason when done with url_for this doesn't need to be urlencoded #}
        <span id="metanav-url-rule-filtered" hidden>{{ url_for('frontend.index', interest='<interest>') }}</span>
      {% endif %}

{#      <a href="https://runningroutes.readthedocs.io/en/latest/" target="_blank" class="ui-button">Admin Guide</a>#}
{#      {% if not session.user_id %}#}
{#        <a href="{{ url_for('security.login') }}" class="ui-button">log in</a>#}
{#      {% else %}#}
{#        <a href="{{ url_for('security.logout') }}" class="ui-button">log out</a>#}
{#      {% endif %}#}
    </div>
{% endblock %}

{% block body %}

    {# used in runningroutes-turns.js to skip processing if not this page #}
    <span id="rr-table-page" hidden></span>

    <div id="primary" class="content-area">
        <main id="main" class="site-main runningroutes-main" role="main">

            <div class='external-filter filter-container'>
                <div class='filter-item'>
                    <span class='label'>Distance (miles)</span>
                    <span id='external-filter-distance' class='filter'></span>
                </div>

                <div class='filter-item'>
                    <span class='label'>Surface</span>
                    <span id='external-filter-surface' class='filter'></span>
                </div>
            </div>
            <div class='external-filter' style='display: none;'>
                <span id='external-filter-bounds-lat' class='filter'></span>
                <span id='external-filter-bounds-lng' class='filter'></span>
            </div>

            <div id='runningroutes-map'></div>

            <table id="runningroutes-table">
                <thead>
                    <tr>
                        <th>loc</th>
                        <th>name</th>
                        <th>miles</th>
                        <th>surf</th>
                        <th>elev gain</th>
                        <th></th>
                        <th>lat</th>
                        <th>lng</th>
                        <th>id</th>
                    </tr>
                </thead>
            </table>

            <script src="https://maps.google.com/maps/api/js?key={{ config['GMAPS_API_KEY'] }}"></script>

        </main><!-- #main -->
    </div><!-- #primary -->

{% endblock body %}
