{% extends "frontend_layout.jinja2" %}
{% block pagename %}
    <span style="text-transform: lowercase;">{{_productname|safe}}</span> Home
{% endblock %}
{% block body %}
  <h1>Welcome to {{_productname|safe}} <span style='font-size: 40%'><span class="brand-all">a loutilities product</span></span></h1>
  <br>
  <br>
  
{% endblock %}