{% extends "layout-base.jinja2" %}
{% block nav %}
    {# standard nav uses flask-nav #}
    {% if nav %}
        <input id="main-menu-state" type="checkbox" />
        <label class="main-menu-btn" for="main-menu-state">
          <span class="main-menu-btn-icon"></span> Toggle main menu visibility
        </label>

        {# note smartmenu classes are added using jquery in layout.js because nav doesn't provide api for that #}
        {{ nav.nav_menu.render(id='navigation', renderer='nav_renderer') }}
    {% endif %}
{% endblock %}

{% block prescripts %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block metanav %}
    <div class=metanav>
        {% if current_user.name %}
        {{ current_user.name }} |
      {% endif %}

      <label for="metanav-select-interest" class="interest-label">Interest:</label>
      <select id="metanav-select-interest">
          {# set in runningroutes.__init__ #}
          {% for interest in user_interests %}
              <option value="{{ interest.interest }}">{{ interest.description }}</option>
          {% endfor %}
      </select>
      {# used by layout.js, needs to be urlencoded else may look like tag #}
      <span id="metanav-url-rule" hidden>{{ request.url_rule | urlencode }}</span>
      {% if url_rule %}
        <span id="metanav-url-rule-filtered" hidden>{{ url_rule | urlencode }}</span>
      {% endif %}

      {% if not frontend_page %}
        {% if adminguide %}
            <a href={{ adminguide }} target="_blank" class="ui-button">Admin Guide</a>
        {% else %}
            <a href={{ config.DEFAULT_ADMIN_GUIDE }} target="_blank" class="ui-button">Admin Guide</a>
        {% endif %}
    {% endif %}
    {% if current_user.name %}
        <a href="{{ url_for('security.logout') }}" class="ui-button">log out</a>
    {% else %}
        <a href="{{ url_for('security.login') }}" class="ui-button">log in</a>
    {% endif %}
    </div>
{% endblock %}

{% block signin %}
{% endblock %}