{% extends "frontend-layout.jinja2" %}
{% block pagename %}
    {{ pagename }}
{% endblock pagename %}
{% block css %}
{% endblock css %}

{% block scripts %}
{% endblock scripts %}

{% block prescripts %}
    {{ super() }}
    <script>
    // TODO: how should these be constructed? Should they be on each page? #46
    var rrrouteurl = '/route/{{ route_id }}',
        rrturnsurl = '/turns/{{ route_id }}',
        rrgpxurl = '/gpxdownload/{{ route_id }}';
    </script>
    {# this stub must run and register gmapsCallback before the async maps script below is even
       requested -- the page bundle (frontendcommon.js, ~2MB) can take longer to parse/execute than
       the async script takes to load+call back, so onGmapsReady() queues page code instead #}
    <script>
    window._gmapsReady = false;
    window._gmapsReadyCallbacks = [];
    window.gmapsCallback = function() {
        window._gmapsReady = true;
        window._gmapsReadyCallbacks.forEach(function(fn) { fn(); });
        window._gmapsReadyCallbacks = [];
    };
    window.onGmapsReady = function(fn) {
        if (window._gmapsReady) { fn(); } else { window._gmapsReadyCallbacks.push(fn); }
    };
    </script>
    <script async src="https://maps.google.com/maps/api/js?key={{ config.GMAPS_API_KEY }}&loading=async&callback=gmapsCallback"></script>
{% endblock %}


{% block body %}
    <p>To show your current location click ALLOW if prompted for permission. You may need to reload the page.</p>

    <div id="path-title">{{ title }}</div>
    <div class="descr-block">
        <span id="path-descr" style="float: left;">
            {{ elevation_gain }}ft elev gain
            {% if description %}<p>{{ description }}</p>{% endif %}
        </span>
        <span id="turns-link" style="float: right;">
            <a href="https://www.google.com/maps/search/?api=1&query={{ startloc }}" target=_blank>start</a> 
            <a href="{{ turns_link }}">turns</a>
            <a href="{{ gpx_link }}">download</a>
        </span>
    </div>
    <div style="clear: both;"></div>

    <div id="progress-bar"><div class="progress-label">Loading...</div></div>
    <div id='runningroutes-route-map'></div>
    <div id='runningroutes-route-elev'></div>
{% endblock %}