{% extends "layout-base.jinja2" %}
{% block nav %}
    {# standard nav uses flask-nav #}
    {{ nav.nav_menu.render(id='navigation', renderer='nav_renderer') }}
{% endblock %}

{% block metanav %}
    <div class=pagename>{{self.pagename()}}</div>
    <div class=metanav>
      {% if session.user_id %}
        {{ session.user_id }}
      {% endif %}

      <a href="https://runningroutes.readthedocs.io/en/latest/runningroutes-admin-guide.html#" target="_blank" class="ui-button">Admin Guide</a>
      {% if not session.user_id %}
        <a href="{{ url_for('security.login') }}" class="ui-button">log in</a>
      {% else %}
        <a href="{{ url_for('security.logout') }}" class="ui-button">log out</a>
      {% endif %}
    </div>
{% endblock %}

{% block signin %}
{% endblock %}