{# admin.jinja2 allows user to choose 'interest'
#}

{% extends "admin_layout.jinja2" %}
{% block pagename %}
    {{ pagename }}
{% endblock %}
{% block css %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block body %}
    TBA: choose interest here
{% endblock %}